## Mimetype to extension map for detecting file type and show icon
## List of types match the icons in /solr/img/filetypes
#set($extMap = {"application/x-7z-compressed": "7z",
                 "application/postscript": "ai",
                 "application/pgp-signature": "asc",
                 "application/octet-stream": "bin",
                 "application/x-bzip2": "bz2",
                 "text/x-c": "c",
                 "application/vnd.ms-htmlhelp": "chm",
                 "application/java-vm": "class",
                 "text/css": "css",
                 "text/csv": "csv",
                 "application/x-debian-package": "deb",
                 "application/msword": "doc",
                 "message/rfc822": "eml",
                 "image/gif": "gif",
                 "application/winhlp": "hlp",
                 "text/html": "html",
                 "application/java-archive": "jar",
                 "text/x-java-source": "java",
                 "image/jpeg": "jpeg",
                 "application/javascript": "js",
                 "application/vnd.oasis.opendocument.chart": "odc",
                 "application/vnd.oasis.opendocument.formula": "odf",
                 "application/vnd.oasis.opendocument.graphics": "odg",
                 "application/vnd.oasis.opendocument.image": "odi",
                 "application/vnd.oasis.opendocument.presentation": "odp",
                 "application/vnd.oasis.opendocument.spreadsheet": "ods",
                 "application/vnd.oasis.opendocument.text": "odt",
                 "application/pdf": "pdf",
                 "application/pgp-encrypted": "pgp",
                 "image/png": "png",
                 "application/vnd.ms-powerpoint": "ppt",
                 "audio/x-pn-realaudio": "ram",
                 "application/x-rar-compressed": "rar",
                 "application/vnd.rn-realmedia": "rm",
                 "application/rtf": "rtf",
                 "application/x-shockwave-flash": "swf",
                 "application/vnd.sun.xml.calc": "sxc",
                 "application/vnd.sun.xml.draw": "sxd",
                 "application/vnd.sun.xml.impress": "sxi",
                 "application/vnd.sun.xml.writer": "sxw",
                 "application/x-tar": "tar",
                 "application/x-tex": "tex",
                 "text/plain": "txt",
                 "text/x-vcard": "vcf",
                 "application/vnd.visio": "vsd",
                 "audio/x-wav": "wav",
                 "audio/x-ms-wma": "wma",
                 "video/x-ms-wmv": "wmv",
                 "application/vnd.ms-excel": "xls",
                 "application/xml": "xml",
                 "application/x-xpinstall": "xpi",
                 "application/zip": "zip"})


#if($doc.getFieldValue('title'))
  #set($title = $esc.html($doc.getFirstValue('title')))
#else
  #set($title = "["+$doc.getFieldValue('id')+"]")
#end

#if($doc.getFieldValue('path'))
  #set($url = $doc.getFieldValue('path'))
#elseif($doc.getFieldValue('resourcename'))
  #set($url = "file:///$doc.getFieldValue('resourcename')")
#else
  #set($url = "$doc.getFieldValue('id')")
#end

#if($doc.getFieldValue('path'))
  #set($path = $doc.getFieldValue('path'))
#else
  #set($path = "node/" + $doc.getFieldValue('nid'))
#end
#set($supportedtypes = "7z;ai;aiff;asc;audio;bin;bz2;c;cfc;cfm;chm;class;conf;cpp;cs;css;csv;deb;divx;doc;dot;eml;enc;file;gif;gz;hlp;htm;html;image;iso;jar;java;jpeg;jpg;js;lua;m;mm;mov;mp3;mpg;odc;odf;odg;odi;odp;ods;odt;ogg;pdf;pgp;php;pl;png;ppt;ps;py;ram;rar;rb;rm;rpm;rtf;sig;sql;swf;sxc;sxd;sxi;sxw;tar;tex;tgz;txt;vcf;video;vsd;wav;wma;wmv;xls;xml;xpi;xvid;zip")
#set($ct = $list.get($doc.getFirstValue('content_type').split(";"),0))
#set($filename = $doc.getFieldValue('resourcename'))

#set($filetype = false)
#set($filetype = $extMap.get($ct))
##TODO: falling back to file extension is convenient, except when you don't have an icon for that extension
##      example "application/vnd.openxmlformats-officedocument.wordprocessingml.document" document
##        with a .docx extension.  It'd be nice to fall back to an "unknown" or the existing "file" type
##      We sort of do this below, but only if the filename has no extension (anything after the last dot).
#if(!$filetype)#set($filetype = $filename.substring($filename.lastIndexOf(".")).substring(1))#end
##if(!$filetype)#set($filetype = "file")#end
##if(!$supportedtypes.contains($filetype))#set($filetype = "file")#end

#if($doc.getFieldValue('picture'))
#if($doc.getFieldValue('picture') == 'files/user_pictures/picture-1.png')
#set($pictureLink = "#domain_site_static/sites/all/themes/evene/images/dummy/dummy-90-90.jpg")
#else
#set($pictureLink = "#domain_site_static/img/livres/g/"+$doc.getFieldValue('picture'))
#end
#end


<!--

<img src="#domain_site_static/img/livres/g/$doc.getFieldValue('picture')" align="center">

<h2><a href="$url_site/${path}" target="_blank"><b>$title</b></a></h2><span class="mlt">   #if($params.getBool('mlt', false) == false)<a href="#lensNoQ&q=id:%22$docId%22&mlt=true">More Like This</a>#end</span></div>
#if($doc.getFieldValue('field_subtitle_final'))
<h3>$doc.getFieldValue('field_subtitle_final')</h3>
#end
<div>Id: #field('nid')</div>
<div>Description: #field('field_description_final')</div>
<div>
#if($doc.getFieldValue('resourcename'))Resource name: $filename
#elseif($url)URL: $url
#end
#if($ct) ($ct)#end


</div>
#if($doc.getFieldValue('author'))<div>Author: #field('author')</div>#end
#if($doc.getFieldValue('last_modified'))<div>last-modified: #field('last_modified')</div>#end
<div class="result-body">#field('content')</div>
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)<div class="field-name">Similar Items</div>#end
  #if ($mltOn && $mlt && $mlt.size() > 0)
  <ul>
    #foreach($mltHit in $mlt)
      #set($mltId = $mltHit.getFieldValue('id'))
      <li><div><a href="#url_for_home?q=id:$mltId">$mltId</a></div><div><span class="field-name">Title:</span> $mltHit.getFieldValue('title')</div>
        <div><span class="field-name">Author:</span> $mltHit.getFieldValue('author') <span class="field-name">Description:</span> $mltHit.getFieldValue('description')</div>

      </li>
    #end
  </ul>
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>
-->

#parse('debug.vm')
    <div class="block-aller-plus">
                        <div class="category">livre</div>

    <div class="node node-$doc.getFieldValue('nid')">
      <div class="block-cdc">
        <div class="img">
          <span class="unteflutche" onclick='EveneSite.unteflutche("$doc.getFieldValue('path_mask')"); return false;'><img src="$pictureLink" class="evene_images imagecache evene_images-evene_image-livre-grande imagecache-evene_image-livre-grande evene_images- imagecache- evene_images-evene_image-livre-grande_default imagecache-evene_image-livre-grande_default " width="108" height="162" alt="Cat-walk"></span>    </div>
        <div class="txt">

                  <h4>#if($doc.getFieldValue('taxonomy_path'))<a href="#domain_site/$doc.getFieldValue('taxonomy_path')">#end#field('taxonomy_names')#if($doc.getFieldValue('taxonomy_path'))</a>#end</h4>

                  <h3><a href="#domain_site/${path}">#field('title')</a></h3>
                  #if($doc.getFieldValue('field_subtitle_final'))
                  <div class="description-info">#field('field_subtitle_final')</div>
                  #end
                  #if($doc.getFieldValue('book_author_content_celebrity'))
                  #if($doc.getFieldValue('book_author_content_celebrity_path'))
                  <h4 class="de">de <span class="underline"><a href="$doc.getFieldValue('book_author_content_celebrity_path')" itemprop="author">$doc.getFieldValue('book_author_content_celebrity')</a></span><a href="#tout($doc.getFieldValue('book_author_content_celebrity'))" class="filter-text-plus">[+]</a>
                  </h4>
                  #else
                  <h4 class="de">de $doc.getFieldValue('book_author_content_celebrity')<a href="#q($doc.getFieldValue('book_author_content_celebrity'))" class="filter-text-plus">[+]</a>
                  </h4>
                  #end
                  #end

                  <span class="author">
                          #if($doc.getFieldValue('ss_book_label'))
                          Editeur : <b>$doc.getFieldValue('ss_book_label')</b>
                              <a href="#tout($doc.getFieldValue('ss_book_label'))" class="filter-text-plus">[+]</a>

                |
                #end
                          Parution : <b>$date.format("dd MMM YYYY",$doc.getFieldValue('ds_book_publication_timestamp'),$date.getLocale(),$date.getTimeZone().getTimeZone("UTC"))</b>

            </span>
                               <p>#field('body') </p>

                  <span class="link">Plus sur <span class="unteflutche" onclick='EveneSite.unteflutche("$doc.getFieldValue('path_mask')"); return false;'>$doc.getFieldValue('title')</span></span>


          <span class="this-commandez"><span class="unteflutche main" target="_blank" title="$doc.getFieldValue('title')" onclick='EveneSite.unteflutchenew("$doc.getFieldValue('fnac_url')"); return false;'>Commandez avec <span class="event">5% de remise</span> sur Fnac.com - livraison gratuite</span></span>
          <div class="evene-fav">
            <div class="tooltip-info">

          <div class="bottom-info">
            <p><b>Vous aussi écrivez votre commentaire ou votre critique</b></p>
            <span class="unteflutche link" onclick='EveneSite.unteflutche("$doc.getFieldValue('path_mask')"); return false;'>Réagissez</span>        <div class="enddiv"></div>
          </div>
        </div>
                      #if($doc.getFieldValue('comment_count') && $doc.getFieldValue('comment_count') != 0)
                      <div class="avis avis-small tooltip tooltip-processeed first-over">
                          <span>$doc.getFieldValue('comment_count')</span>
                        </div>
                      #else
                      <div class="avis avis-small avis-empty tooltip tooltip-processeed first-over">
                          <span>&nbsp;</span>
                        </div>
                      #end

        <ul class="ui-content">
            <li class="last">
                Membres (#if($doc.getFieldValue('vote_count'))$doc.getFieldValue('vote_count')#end)
                <span class="static-stars harts-orange static-stars-#if($doc.getFieldValue('vote_avg'))$doc.getFieldValue('vote_avg')#end">
                  <a href="#domain_site/livres/livre/michel-quint-cat-walk-8913.php?critiques"><span class="stars harts-orange">&nbsp;</span></a>
                </span>
            </li>
        </ul>

              </div>
        </div>
        <div class="enddiv"></div>
      </div>
        <div class="block-votes
                ">
                            <ul class="ui-content flag-wrapper favorite-block-$doc.getFieldValue('nid') long">
          <li class="first last">
            <div class="tooltip-info">
              <h4>«&nbsp;#field('title')&nbsp;»</h4>
              <p>Ajouter ce livre à vos favoris</p>
              <a class="evene-fancybox-popup link tooltip-flag fancybox-false" href="#domain_site/user/login" rel="nofollow">
                Ajouter à mes favoris          </a>
              <div class="enddiv"></div><div class="bottom-info">
                <span class="info-text">
                  Votre espace personnel sur Evene.fr vous permet de découvrir du contenu culturel qui
                   vous correspond. L'espace personnel, c'est un moteur de recommandations selon vos goûts.              <b><a href="/" class="link evene-trigger-login profile-redirect">Accédez à votre espace personnel</a></b>
                </span>
              </div>
            </div>
            <span class="evene-fav tooltip evene-fav-off tooltip-processeed">
              <a class="evene-fancybox-popup fancybox-false" href="#domain_site/user/login" rel="nofollow">
                              Ajouter à mes favoris                      </a>
              <span class="num">0</span>
            </span>
          </li>
        </ul>
        #parse('share.vm')

                <div class="enddiv"></div>
      </div>
    </div>
                    </div>